<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="Project" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=false;Initial Catalog=Project;user id=sa; password=P@ssw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>

    <appender name="Log" type="log4net.Appender.RollingFileAppender">
      <file value="Log\Log.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="50MB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-7.7thread] %-6.6level %-30.30logger{1} | %message%newline%exception" />
      </layout>
    </appender>
    
    <root>
      <level value="ALL" />
      <appender-ref ref="Log" />
    </root>

  </log4net>
</configuration>