dotnet/03-dotnet-razor/BookLibrary/.vs/BookLibrary/v16/.suo
dotnet/03-dotnet-razor/BookLibrary/obj/BookLibrary.csproj.nuget.dgspec.json
dotnet/03-dotnet-razor/BookLibrary/obj/BookLibrary.csproj.nuget.g.props
dotnet/03-dotnet-razor/BookLibrary/obj/BookLibrary.csproj.nuget.g.targets
dotnet/03-dotnet-razor/BookLibrary/obj/project.assets.json
dotnet/03-dotnet-razor/BookLibrary/obj/project.nuget.cache
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/BookLibrary.AssemblyInfo.cs
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/BookLibrary.AssemblyInfoInputs.cache
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/BookLibrary.assets.cache
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/BookLibrary.csprojAssemblyReference.cache
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/BookLibrary.GeneratedMSBuildEditorConfig.editorconfig
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/BookLibrary.RazorComponent.input.cache
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/BookLibrary.RazorComponent.output.cache
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/dotnet.5.0.0.js
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/RazorDeclaration/Pages/Counter.razor.g.cs
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/RazorDeclaration/Pages/FetchData.razor.g.cs
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/RazorDeclaration/Shared/MainLayout.razor.g.cs
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/RazorDeclaration/Shared/NavMenu.razor.g.cs
dotnet/03-dotnet-razor/BookLibrary/obj/Debug/net5.0/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
bin/
obj/
dotnet/04-dotnet-Nhibernate/NHibernateExercises/.vs/NHibernateExercises/v16/.suo
